include *.*
recursive-include *.*

global-exclude *.pyc
global-exclude *.DS_Store
global-exclude *.egg-info

global-exclude *.fs
global-exclude *.index
global-exclude *.lock
global-exclude *.tmp

recursive-exclude . *.pyc, *.DS_Store, *.egg-info, *.fs, *.index, *.lock, *.tmp


graft zas_rep_tools/tests
graft zas_rep_tools/cli
graft zas_rep_tools/data
graft zas_rep_tools/src
#graft zas_rep_tools/tests

graft zas_rep_tools_data/tests
graft zas_rep_tools_data/cli
graft zas_rep_tools_data/data
graft zas_rep_tools_data/src
graft zas_rep_tools_data/tests

